@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';

  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';

  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
}

:root {
  /* Primary colors */
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  /* Secondary colors */
  --color-secondary-info: #4a4a4a;
  --color-secondary-small: #747272;
}

/* Base */

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

/* Titles */
.section-title {
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-brand);
}

/* Nav Link */

.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  color: var(--color-brand);
}

/* Header */

header {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}

/* Hero section  */

.main-title {
  color: var(--color-brand);
  text-transform: capitalize;
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

.button-primary {
  color: var(--color-primary-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.button-primary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.info-button {
  color: var(--color-secondary-info);
  font-size: 12px;
  line-height: 1.5;
}

/* Info about us */

#info-section .accent {
  text-transform: capitalize;
}

.info-text {
  font-size: 22px;
  line-height: 1.7;
}

.info-text .accent {
  font-weight: 600;
}

/* Why us */

.first-card {
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  line-height: 1.3;
}
.second-card {
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  line-height: 1.3;
}
.last-card {
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  line-height: 1.3;
}

/* Beauty treatments */

.treatments-name {
  color: var(--color-primary-light);
  font-size: 22px;
}
/* Contact */

.contact-text {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
}

.ccontact-text .accent {
  color: var(--color-brand);
}
.button-secondary {
  color: var(--color-primary-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.button-secondary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.privacy-policy {
  color: var(--color-secondary-small);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.privacy-policy a {
  color: inherit;
}

/* Footer */

footer {
  background-color: var(--color-primary-dark);
}
.footer-adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

.footer-adress-link:visited {
  color: var(--color-primary-light);
}

.footer-adress-link:hover {
  color: var(--color-brand);
}

.footer-copyright {
  color: var(--color-secondary-small);
  font-size: 13px;
}
